footer {
  background: #ab4d4d;
  color: white;
  padding: 5%;
  text-align: center;
  margin-top: 5%;
  font-family: 'Playfair Display', serif;
  font-family: 'PT Serif', serif;
  font-size: 40px;
}
